<robot name="pnp_block_green">
  <link name="pnp_block_green">
    <inertial>
      <origin xyz="0.015 0.015 0.02" />
      <mass value="0.01" />
      <!-- (1/12)*mass*(h^2 + d^2)  (1/12)*mass*(w^2 + d^2) (1/12)*mass*(w^2 + h^2) -->
      <!-- (1/12)*0.5*(0.045^2 + 0.045^2)  (1/12)*0.5*(0.045^2 + 0.045^2) (1/12)*0.5*(0.045^2 + 0.045^2) -->
      <!--inertia  ixx="0.00016874999" ixy="0.0"  ixz="0.0"  iyy="0.00016874999"  iyz="0.0"  izz="0.00016874999" /-->
      <inertia  ixx="0.001" ixy="0.0"  ixz="0.0"  iyy="0.001"  iyz="0.0"  izz="0.001" />

    </inertial>
    <visual>
      <origin xyz="0.015 0.015 0.02"/>
      <geometry>
        <box size="0.03 0.03 0.04" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.015 0.015 0.02"/>
      <geometry>
        <box size="0.03 0.03 0.04" />
      </geometry>
    </collision>
  </link>
  <gazebo reference="pnp_block_green">
    <material>Gazebo/Green</material>
     <mu1>100</mu1>
     <mu2>100</mu2>
  </gazebo>
</robot>
